 .cubes {
    width: 40px;
    height: 40px;
    margin: 100px auto;

    .skcube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        animation: skcubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .skcube1 {
        animation-delay: 0.2s;
    }

    .skcube2 {
        animation-delay: 0.3s;
    }

    .skcube3 {
        animation-delay: 0.4s;
    }

    .skcube4 {
        animation-delay: 0.1s;
    }

    .skcube5 {
        animation-delay: 0.2s;
    }

    .skcube6 {
        animation-delay: 0.3s;
    }

    .skcube7 {
        animation-delay: 0s;
    }

    .skcube8 {
        animation-delay: 0.1s;
    }

    .skcube9 {
        animation-delay: 0.2s;
    }

    @keyframes skcubeGridScaleDelay {

        0%,
        70%,

        100% {
            transform: scale3D(1, 1, 1);
        }

        35% {
            transform: scale3D(0, 0, 1);
        }
    }

} 
   
   