.Home{
    position: relative;
    text-align: center;
    &__something{        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.addToCartFunc{    
    padding-top: 100px;
    margin-bottom: 20px; 
}