.BookCard{
    border: 1px solid tomato;
    background: silver;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    padding: 5px;
    cursor: pointer;
}